.create_new_password_divs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create_new_password_form{
    width: 55%;
}

.create_new_password_button{
    width: 100%;
    background-color: #680f82;
}

.create_new_password_button:hover{
    background-color: #410952 !important;
}


.create_new_password_title{
    font-size: 26px;
    color: rgb(28, 28, 28);
    text-align: left;
    width: 100%;
    font-weight: bolder;
    margin-bottom: 2vh;
}

.create_new_password_logoForResponsive{
    display: none;
}

@media screen and (max-width: 700px) {
    .create_new_password_form{
        width: 90%;
    }

    .create_new_password_logoForResponsive{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}